@media all
{
	body{
		text-align: center;
		margin-right: 20%;
		margin-left: 20%;
		font-family: 'Squada One', cursive;
	}

	body::after{
		background-image: url(photos/pizza_background.jpg);
		background-size: cover;
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.5;
		z-index: -1;
	}
	#information {
    width: 90%;
    margin: auto;
    background: rgba(500,500,500,.7);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}
	table, th, td {
		border: 1px solid black;
		/*padding: 5px;*/
		column-width: 500px;

	}

	#table2{
		column-width: 500px;
	}
	div{
		width: 80%;
		padding:  5px;
		

	}
	.right {
		text-align:right;
	}
	.left {
		text-align:left;
	}
	img {
		width: 75px;
		height: auto;
	}

	img:hover{

width: 125px;	}
height: auto;

	figure{
		text-align: center;
	}



}
}